USE [master]
drop database Karaoke4T
GO
/****** Object:  Database [Karaoke4T]    Script Date: 11/9/2023 11:23:20 PM ******/
CREATE DATABASE [Karaoke4T]
USE [Karaoke4T]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[soLuong] [int] NOT NULL,
	[maHD] [varchar](10) NOT NULL,
	[maDV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHD] [varchar](10) NOT NULL,
	[maPhong] [varchar](10) NOT NULL,
	[thoiLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDV] [varchar](10) NOT NULL,
	[donGia] [float] NULL,
	[soLuong] [int] NOT NULL,
	[tenDichVu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [varchar](10) NOT NULL,
	[gioKetThuc] [datetime2](7) NULL,
	[gioNhanPhong] [datetime2](7) NULL,
	[ngayLap] [datetime2](7) NULL,
	[tienKhachTra] [float] NOT NULL,
	[tongTien] [float] NOT NULL,
	[maKH] [varchar](10) NULL,
	[maNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [varchar](10) NOT NULL,
	[gioiTinh] [varchar](5) NOT NULL,
	[tenKH] [nvarchar](max) NULL,
	[SDT] [varchar](11) NULL,
	[CMND] [varchar](11) NULL,
	[diaChi] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanVien](
	[maLNV] [varchar](10) NOT NULL,
	[tenLNV] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[maLP] [varchar](10) NOT NULL,
	[giaTien] [float] NOT NULL,
	[tenLoaiPhong] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [varchar](10) NOT NULL,
	[tenNV] [varchar](255) NULL,
	[gioiTinh] [varchar](255) NULL,
	[ngaySinh] [nvarchar](max) NULL,
	[CMND] [varchar](11) NULL,
	[SDT] [varchar](11) NULL,
	[trangThaiLamViec] [varchar](30) NOT NULL,
	[diaChi] [varchar](max) NULL,
	[maLNV] [varchar](10) NULL,
	[maTK] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[maPDP] [varchar](10) NOT NULL,
	[thoiGianDangKyDatPhong] [datetime2](7) NULL,
	[thoiGianNhanPhong] [datetime2](7) NULL,
	[tinhTrangPhong] [varchar](30) NOT NULL,
	[maKH] [varchar](10) NULL,
	[maNV] [varchar](10) NULL,
	[maPhong] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [varchar](10) NOT NULL,
	[soNguoi] [int] NOT NULL,
	[tenPhong] [varchar](max) NULL,
	[tinhTrangPhong] [varchar](30) NOT NULL,
	[maLP] [varchar](10) NULL,
	[maTTP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [varchar](10) NOT NULL,
	[tenTK] [nvarchar](max) NULL,
	[MK] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiPhong]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiPhong](
	[maTTP] [varchar](10) NOT NULL,
	[tenTrangThaiPhong] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FKeye54e4p8bj4egjupsyses0hb] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FKeye54e4p8bj4egjupsyses0hb]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FKfe5abn33fe5jtp4lyhif1xyjf] FOREIGN KEY([maDV])
REFERENCES [dbo].[DichVu] ([maDV])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FKfe5abn33fe5jtp4lyhif1xyjf]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK2kbafpq23m2cuqm32ifoiwi9d] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK2kbafpq23m2cuqm32ifoiwi9d]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FKhjx09obph682p8sjkgctrprsf] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FKhjx09obph682p8sjkgctrprsf]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FKg1ebuq3tydt58wb4gutehmh9w] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FKg1ebuq3tydt58wb4gutehmh9w]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FKoyaa1162ps1nyifmfv2pv2qr] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FKoyaa1162ps1nyifmfv2pv2qr]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([maTK])
REFERENCES [dbo].[TaiKhoan] ([maTK])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK592pmnnm2sm98xbre6r63cqa4] FOREIGN KEY([maLNV])
REFERENCES [dbo].[LoaiNhanVien] ([maLNV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK592pmnnm2sm98xbre6r63cqa4]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FKjv5cd9rgskfo6ycp5oomaulks] FOREIGN KEY([maLP])
REFERENCES [dbo].[LoaiPhong] ([maLP])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FKjv5cd9rgskfo6ycp5oomaulks]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FKlxs9yc5k8idtuxshdfpswwym9] FOREIGN KEY([maTTP])
REFERENCES [dbo].[TrangThaiPhong] ([maTTP])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FKlxs9yc5k8idtuxshdfpswwym9]
GO
USE [master]
GO






SELECT * FROM [dbo].[ChiTietDichVu]

SELECT * FROM [dbo].[ChiTietHoaDon]

SELECT * FROM [dbo].[HoaDon]

SELECT * FROM [dbo].[DichVu]
SELECT * FROM [dbo].[LoaiNhanVien]
SELECT * FROM [dbo].[LoaiPhong]
SELECT * FROM [dbo].[KhachHang]
SELECT * FROM [dbo].[NhanVien]
SELECT * FROM [dbo].[Phong]
SELECT * FROM [dbo].[TrangThaiPhong]
SELECT * FROM [dbo].[TaiKhoan]
SELECT * FROM [dbo].[PhieuDatPhong]



SELECT * FROM [dbo].[KhachHang]

INSERT [dbo].[KhachHang] ([maKH],[CMND] ,[gioiTinh], [tenKH], [SDT], [diaChi]) VALUES (N'KHAA001',N'123456789' ,N'Nam', N'BuiMinh',N'0945601318',N'Xã Đông Hiệp, Huyện Cờ Đỏ,Thành phố Cần Thơ ')
INSERT [dbo].[KhachHang] ([maKH],[CMND] ,[gioiTinh], [tenKH], [SDT], [diaChi]) VALUES (N'KHAA002',N'123456789' ,N'Nam', N'HaHuyHoang',N'0857526421',N'Xã Đông Hiệp, Huyện Cờ Đỏ,Thành phố Cần Thơ ')
INSERT [dbo].[KhachHang] ([maKH],[CMND] ,[gioiTinh], [tenKH], [SDT], [diaChi]) VALUES (N'KHAA003',N'123456789' ,N'Nam', N'Hà Huy Hoàng',N'0857363523',N'Xã Đông Hiệp, Huyện Cờ Đỏ,Thành phố Cần Thơ ')


GO




SELECT * FROM [dbo].[LoaiNhanVien]

INSERT [dbo].[LoaiNhanVien] ([maLNV], [tenLNV]) VALUES (N'LNV001', N'Quản lý')
INSERT [dbo].[LoaiNhanVien] ([maLNV], [tenLNV]) VALUES (N'LNV002', N'Thu ngân')
INSERT [dbo].[LoaiNhanVien] ([maLNV], [tenLNV]) VALUES (N'LNV003', N'Lễ tân')

SELECT * FROM [dbo].[TaiKhoan]


INSERT [dbo].[TaiKhoan] ([maTK], [tenTK],[MK] ) VALUES (N'TK001', N'Admin','karaoke4t')
INSERT [dbo].[TaiKhoan] ([maTK], [tenTK],[MK] ) VALUES (N'TK002', N'HUỲNH VAN VU','karaoke4t')
INSERT [dbo].[TaiKhoan] ([maTK], [tenTK],[MK] ) VALUES (N'TK003',N'HUỲNH THỊ L? H?NG','karaoke4t')





SELECT * FROM [dbo].[NhanVien]
INSERT [dbo].[NhanVien] ([maNV], [gioiTinh], [tenNV], [ngaySinh], [CMND], [SDT], [trangThaiLamViec],[maLNV], [maTK],[diaChi] ) VALUES (N'NVAA0001', N'Nam', N'MAI HO THIEN THACH', N'2001-01-01 00:00:00.0000000', N'999999999', N'9999999999',N'Đang làm',N'LNV002','TK001',N'Phường Hòa An,Quận Cẩm Lệ,Thành phố Đà Nẵng' )
INSERT [dbo].[NhanVien] ([maNV], [gioiTinh], [tenNV], [ngaySinh], [CMND], [SDT], [trangThaiLamViec],[maLNV], [maTK],[diaChi] ) VALUES (N'NVAA0002', N'Nam', N'HU?NH VAN VU', N'2001-01-01 00:00:00.0000000', N'856378092', N'0945601318',N'Đang làm',N'LNV002','TK002',N'Phường Hòa An,Quận Cẩm Lệ,Thành phố Đà Nẵng' )
INSERT [dbo].[NhanVien] ([maNV], [gioiTinh], [tenNV], [ngaySinh], [CMND], [SDT], [trangThaiLamViec],[maLNV], [maTK],[diaChi] ) VALUES (N'NVAA0003', N'Nu', N'HU?NH TH? L? H?NG', N'2001-01-01 00:00:00.0000000', N'745715032', N'0945601319',N'Đang làm',N'LNV002','TK003',N'Phường Hòa An,Quận Cẩm Lệ,Thành phố Đà Nẵng' )






SELECT * FROM [dbo].[TrangThaiPhong]
INSERT [dbo].[TrangThaiPhong] ([maTTP], [tenTrangThaiPhong]) VALUES (N'TTP001', N'Phòng bận')
INSERT [dbo].[TrangThaiPhong] ([maTTP], [tenTrangThaiPhong]) VALUES (N'TTP002', N'Phòng chờ')
INSERT [dbo].[TrangThaiPhong] ([maTTP], [tenTrangThaiPhong]) VALUES (N'TTP003', N'Phòng trống')

SELECT * FROM [dbo].[LoaiPhong]
INSERT [dbo].[LoaiPhong] ([maLP], [giaTien], [tenLoaiPhong]) VALUES (N'LP001', 100000, N'Phòng Thường')
INSERT [dbo].[LoaiPhong] ([maLP], [giaTien], [tenLoaiPhong]) VALUES (N'LP002', 180000, N'Phòng Vip')


SELECT * FROM [dbo].[Phong]

INSERT [dbo].[Phong] ([maPhong], [soNguoi], [tenPhong], [tinhTrangPhong], [maLP], [maTTP]) VALUES (N'P001', 10, N'P01',N'Bình thường', N'LP001', N'TTP003')
INSERT [dbo].[Phong] ([maPhong], [soNguoi], [tenPhong], [tinhTrangPhong], [maLP], [maTTP]) VALUES (N'P002', 12, N'P02',N'Bình thường', N'LP001', N'TTP001')
INSERT [dbo].[Phong] ([maPhong], [soNguoi], [tenPhong], [tinhTrangPhong], [maLP], [maTTP]) VALUES (N'P003', 5, N'P03',N'Bình thường', N'LP001', N'TTP001')


SELECT * FROM [dbo].[DichVu]
INSERT [dbo].[DichVu] ([maDV],[donGia],[soLuong],[tenDichVu]) VALUES ('DV001',15000,500,N'Bia SaiGon')
INSERT [dbo].[DichVu] ([maDV],[donGia],[soLuong],[tenDichVu]) VALUES ('DV002',18000,500,N'Bia Tiger')
INSERT [dbo].[DichVu] ([maDV],[donGia],[soLuong],[tenDichVu]) VALUES ('DV003',18000,500,N'Bia Ruby')


SELECT * FROM [dbo].[HoaDon]

INSERT [dbo].[HoaDon] ([maHD], [gioKetThuc], [gioNhanPhong], [ngayLap], [tienKhachTra],[tongTien] ,[maKH],[maNV]) VALUES (N'HDAA001',CAST(N'2021-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2021-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2021-01-01T00:00:00.0000000' AS DateTime2), 20000, 20000,  N'KHAA001',  N'NVAA0003')
INSERT [dbo].[HoaDon] ([maHD], [gioKetThuc], [gioNhanPhong], [ngayLap], [tienKhachTra],[tongTien] ,[maKH],[maNV]) VALUES (N'HDAA004',CAST(N'2021-11-19T11:29:24.5110000' AS DateTime2), CAST(N'2021-11-19T11:29:24.5110000' AS DateTime2), CAST(N'2021-11-19T11:29:24.5110000' AS DateTime2), 20000, 20000,  N'KHAA001',  N'NVAA0003')
INSERT [dbo].[HoaDon] ([maHD], [gioKetThuc], [gioNhanPhong], [ngayLap], [tienKhachTra],[tongTien] ,[maKH],[maNV]) VALUES (N'HDAA005',CAST(N'2021-11-20T10:26:22.5340000' AS DateTime2), CAST(N'2021-11-20T10:26:22.5340000' AS DateTime2), CAST(N'2021-11-20T10:26:22.5340000' AS DateTime2), 20000, 20000,  N'KHAA001',  N'NVAA0003')


SELECT * FROM [dbo].[ChiTietHoaDon]

INSERT [dbo].[ChiTietHoaDon] ([maHD], [maPhong], [thoiLuong]) VALUES (N'HDAA004', N'P002', 0)
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maPhong], [thoiLuong]) VALUES (N'HDAA005', N'P001', 0)
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maPhong], [thoiLuong]) VALUES (N'HDAA007', N'P005', 0)





SELECT * FROM [dbo].[ChiTietDichVu]
INSERT [dbo].[ChiTietDichVu] ([maDV], [maHD], [soLuong]) VALUES (N'DV005', N'HDAA030', 10)
INSERT [dbo].[ChiTietDichVu] ([maDV], [maHD], [soLuong]) VALUES (N'DV004', N'HDAA030', 10)
INSERT [dbo].[ChiTietDichVu] ([maDV], [maHD], [soLuong]) VALUES (N'DV003', N'HDAA030', 10)

SELECT * FROM [dbo].[PhieuDatPhong]

INSERT [dbo].[PhieuDatPhong] ([maPDP], [thoiGianDangKyDatPhong], [thoiGianNhanPhong], [tinhTrangPhong], [maKH], [maNV], [maPhong]) VALUES (N'PDPAA003', CAST(N'2021-11-25T15:07:06.4210000' AS DateTime2), CAST(N'2021-11-25T15:07:06.3470000' AS DateTime2),N'Bình thường', N'KHAA103', N'NVAA0001', N'P001')
INSERT [dbo].[PhieuDatPhong] ([maPDP], [thoiGianDangKyDatPhong], [thoiGianNhanPhong], [tinhTrangPhong], [maKH], [maNV], [maPhong]) VALUES (N'PDPAA001', CAST(N'2021-11-25T14:57:10.0180000' AS DateTime2), CAST(N'2021-11-25T14:57:09.9390000' AS DateTime2),N'Bình thường', N'KHAA103', N'NVAA0001', N'P003')
INSERT [dbo].[PhieuDatPhong] ([maPDP], [thoiGianDangKyDatPhong], [thoiGianNhanPhong], [tinhTrangPhong], [maKH], [maNV], [maPhong]) VALUES (N'PDPAA002', CAST(N'2021-11-25T15:05:57.0480000' AS DateTime2), CAST(N'2021-11-25T15:05:56.9800000' AS DateTime2),N'Bình thường', N'KHAA103', N'NVAA0001', N'P005')

