USE [master]
drop database Karaoke4T
GO
/****** Object:  Database [Karaoke4T]    Script Date: 11/9/2023 11:23:20 PM ******/
CREATE DATABASE [Karaoke4T]
USE [Karaoke4T]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[soLuong] [int] NOT NULL,
	[maHD] [varchar](10) NOT NULL,
	[maDV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHD] [varchar](10) NOT NULL,
	[maPhong] [varchar](10) NOT NULL,
	[thoiLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDV] [varchar](10) NOT NULL,
	[donGia] [float] NULL,
	[soLuong] [int] NOT NULL,
	[tenDichVu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [varchar](10) NOT NULL,
	[gioKetThuc] [datetime2](7) NULL,
	[gioNhanPhong] [datetime2](7) NULL,
	[ngayLap] [datetime2](7) NULL,
	[tienKhachTra] [float] NOT NULL,
	[tongTien] [float] NOT NULL,
	[maKH] [varchar](10) NULL,
	[maNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [varchar](10) NOT NULL,
	[gioiTinh] [varchar](5) NOT NULL,
	[tenKH] [nvarchar](max) NULL,
	[SDT] [varchar](11) NULL,
	[CMND] [varchar](11) NULL,
	[diaChi] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanVien](
	[maLNV] [varchar](10) NOT NULL,
	[tenLNV] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[maLP] [varchar](10) NOT NULL,
	[giaTien] [float] NOT NULL,
	[tenLoaiPhong] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [varchar](10) NOT NULL,
	[tenNV] [varchar](255) NULL,
	[gioiTinh] [varchar](255) NULL,
	[ngaySinh] [nvarchar](max) NULL,
	[CMND] [varchar](11) NULL,
	[SDT] [varchar](11) NULL,
	[trangThaiLamViec] [varchar](30) NOT NULL,
	[diaChi] [varchar](max) NULL,
	[maLNV] [varchar](10) NULL,
	[maTK] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[maPDP] [varchar](10) NOT NULL,
	[thoiGianDangKyDatPhong] [datetime2](7) NULL,
	[thoiGianNhanPhong] [datetime2](7) NULL,
	[tinhTrangPhong] [varchar](30) NOT NULL,
	[maKH] [varchar](10) NULL,
	[maNV] [varchar](10) NULL,
	[maPhong] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [varchar](10) NOT NULL,
	[soNguoi] [int] NOT NULL,
	[tenPhong] [varchar](max) NULL,
	[tinhTrangPhong] [varchar](30) NOT NULL,
	[maLP] [varchar](10) NULL,
	[maTTP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [varchar](10) NOT NULL,
	[tenTK] [nvarchar](max) NULL,
	[MK] [nvarchar](max) NULL,
	[tenNV] [varchar](255) NULL,
	[email] [varchar](max),
PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiPhong]    Script Date: 11/9/2023 11:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiPhong](
	[maTTP] [varchar](10) NOT NULL,
	[tenTrangThaiPhong] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FKeye54e4p8bj4egjupsyses0hb] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FKeye54e4p8bj4egjupsyses0hb]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FKfe5abn33fe5jtp4lyhif1xyjf] FOREIGN KEY([maDV])
REFERENCES [dbo].[DichVu] ([maDV])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FKfe5abn33fe5jtp4lyhif1xyjf]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK2kbafpq23m2cuqm32ifoiwi9d] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK2kbafpq23m2cuqm32ifoiwi9d]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FKhjx09obph682p8sjkgctrprsf] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FKhjx09obph682p8sjkgctrprsf]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FKg1ebuq3tydt58wb4gutehmh9w] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FKg1ebuq3tydt58wb4gutehmh9w]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FKoyaa1162ps1nyifmfv2pv2qr] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FKoyaa1162ps1nyifmfv2pv2qr]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([maTK])
REFERENCES [dbo].[TaiKhoan] ([maTK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK592pmnnm2sm98xbre6r63cqa4] FOREIGN KEY([maLNV])
REFERENCES [dbo].[LoaiNhanVien] ([maLNV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK592pmnnm2sm98xbre6r63cqa4]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FKjv5cd9rgskfo6ycp5oomaulks] FOREIGN KEY([maLP])
REFERENCES [dbo].[LoaiPhong] ([maLP])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FKjv5cd9rgskfo6ycp5oomaulks]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FKlxs9yc5k8idtuxshdfpswwym9] FOREIGN KEY([maTTP])
REFERENCES [dbo].[TrangThaiPhong] ([maTTP])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FKlxs9yc5k8idtuxshdfpswwym9]
GO
USE [master]
GO
USE Karaoke4T





SELECT * FROM [dbo].[ChiTietDichVu]

SELECT * FROM [dbo].[ChiTietHoaDon]

SELECT * FROM [dbo].[HoaDon]

SELECT * FROM [dbo].[DichVu]
SELECT * FROM [dbo].[LoaiNhanVien]
SELECT * FROM [dbo].[LoaiPhong]
SELECT * FROM [dbo].[KhachHang]
SELECT * FROM [dbo].[NhanVien]
SELECT * FROM [dbo].[Phong]
SELECT * FROM [dbo].[TrangThaiPhong]
SELECT * FROM [dbo].[TaiKhoan]
SELECT * FROM [dbo].[PhieuDatPhong]



SELECT * FROM [dbo].[KhachHang]

INSERT [dbo].[KhachHang] ([maKH],[CMND] ,[gioiTinh], [tenKH], [SDT], [diaChi]) VALUES (N'KHAA001',N'123456789' ,N'Nam', N'BuiMinh',N'0945601318',N'Xã Đông Hiệp, Huyện Cờ Đỏ,Thành phố Cần Thơ ')
INSERT [dbo].[KhachHang] ([maKH],[CMND] ,[gioiTinh], [tenKH], [SDT], [diaChi]) VALUES (N'KHAA002',N'123456789' ,N'Nam', N'HaHuyHoang',N'0857526421',N'Xã Đông Hiệp, Huyện Cờ Đỏ,Thành phố Cần Thơ ')
INSERT [dbo].[KhachHang] ([maKH],[CMND] ,[gioiTinh], [tenKH], [SDT], [diaChi]) VALUES (N'KHAA003',N'123456789' ,N'Nam', N'Hà Huy Hoàng',N'0857363523',N'Xã Đông Hiệp, Huyện Cờ Đỏ,Thành phố Cần Thơ ')


GO




SELECT * FROM [dbo].[LoaiNhanVien]

INSERT [dbo].[LoaiNhanVien] ([maLNV], [tenLNV]) VALUES (N'LNV001', N'Quản lý')
INSERT [dbo].[LoaiNhanVien] ([maLNV], [tenLNV]) VALUES (N'LNV002', N'Thu ngân')
INSERT [dbo].[LoaiNhanVien] ([maLNV], [tenLNV]) VALUES (N'LNV003', N'Lễ tân')

SELECT * FROM [dbo].[TaiKhoan]

INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email])VALUES(N'TK001',N'Admin',N'admin',N'123', 'maiqtruong2403@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email])VALUES(N'TK002',N'Truong Dai Loc',N'dailoc',N'1234', 'truongdailoc2003@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email])VALUES(N'TK003',N'Mai Ho Thien Thach',N'thienthach',N'123', 'thachgpt@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email])VALUES(N'TK004',N'Phan Nguyen Dai Duong',N'duongphan',N'123', 'duongphan1912@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK005',N'TRINH THANH NAM',N'TRINHTHANHNAM','karaoke4t',N'TRINHTHANHNAM@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK006',N'DAO MINH TUYET',N'DAOMINHTUYET','karaoke4t',N'DAOMINHTUYET@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK007',N'HUYNH HIEU THAO',N'HUYNHHIEUTHAO','karaoke4t',N'HUYNHHIEUTHAO@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK008',N'NGUYEN THI THANH VAN',N'NGUYENTHITHANHVAN','karaoke4t',N'NGUYENTHITHANHVAN@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK009',N'NGUYEN VAN CHUONG',N'NGUYENVANCHUONG','karaoke4t',N'NGUYENVANCHUONG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK010',N'THI NGOC ANH',N'HATHINGOCANH','karaoke4t',N'HATHINGOCANH@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK011',N'LE THI RIENG',N'LETHIRIENG','karaoke4t',N'LETHIRIENG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK012',N'NGUYEN THI NGOC TUYET',N'NGUYENTHINGOCTUYET','karaoke4t',N'NGUYENTHINGOCTUYET@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK013',N'BUI NGUYEN NGUYET DUNG',N'BUINGUYENNGUYETDUNG','karaoke4t',N'BUINGUYENNGUYETDUNG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK014',N'LUU VAN XAY',N'LUUVANXAY','karaoke4t',N'LUUVANXAY@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK015',N'VU VAN NHA THUNG',N'VUVANNHATHUNG','karaoke4t',N'VUVANNHATHUNG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK016',N'TRINH VAN THINH',N'TRINHVANTHINH','karaoke4t',N'TRINHVANTHINH@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK017',N'NGUYEN THI THANH',N'NGUYENTHITHANHTHUY','karaoke4t',N'NGUYENTHITHANHTHUY@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK018',N'NGUYEN VAN VINH',N'NGUYENVANVINH','karaoke4t',N'NGUYENVANVINH@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK019',N'NGUYEN THI SANG',N'NGUYENTHISANG','karaoke4t',N'NGUYENTHISANG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK020',N'TON TIEN QUANG HAO',N'TONTIENQUANGHAO','karaoke4t',N'TONTIENQUANGHAO@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK021',N'HUYNH THI ANH HUNG',N'HUYNHTHIANHHUNG','karaoke4t',N'HUYNHTHIANHHUNG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK022',N'LE THANH LOI',N'LETHANHLOI','karaoke4t',N'LETHANHLOI@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK023',N'PHAM HIEN NHAN',N'PHAMHIENNHAN','karaoke4t',N'PHAMHIENNHAN@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK024',N'NGO THI BAY',N'NGOTHIBAY','karaoke4t',N'NGOTHIBAY@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK025',N'NGUYEN LE MINH SANG',N'NGUYENLEMINHSANG','karaoke4t',N'NGUYENLEMINHSANG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK026',N'NGUYEN THI TU LIEN',N'NGUYENTHITULIEN','karaoke4t',N'NGUYENTHITULIEN@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK027',N'NGUYEN THI PHU LIEN',N'NGUYENTHIPHULIEN','karaoke4t',N'NGUYENTHIPHULIEN@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK028',N'SUHCANGHY',N'SUHCANGHY','karaoke4t',N'SUHCANGHY@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK029',N'NGUYEN KIM NAM',N'NGUYENKIMNAM','karaoke4t',N'NGUYENKIMNAM@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK030',N'TRINH THI XIEM',N'TRINHTHIXIEM','karaoke4t',N'TRINHTHIXIEM@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK031',N'ÐINH THANH SANG',N'ÐINHTHANHSANG','karaoke4t',N'ÐINHTHANHSANG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK032',N'LE HOANG TRINHG',N'LEHOANGTRINHG','karaoke4t',N'LEHOANGTRINHG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK033',N'HUYNH THI HOANG NGA',N'HUYNHTHIHOANGNGA','karaoke4t',N'HUYNHTHIHOANGNGA@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK034',N'LAM NGOC PHUYNG',N'LAMNGOCPHUYNG','karaoke4t',N'LAMNGOCPHUYNG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK035',N'NGUYEN THI KIM NGAN',N'NGUYENTHIKIMNGAN','karaoke4t',N'NGUYENTHIKIMNGAN@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK036',N'NGUYEN NGOC MI',N'NGUYENNGOCMI','karaoke4t',N'NGUYENNGOCMI@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK037',N'LE THI THU HA',N'LETHITHUHA','karaoke4t',N'LETHITHUHA@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK038',N'NGUYEN THI CUC',N'NGUYENTHICUC','karaoke4t',N'NGUYENTHICUC@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK039',N'HUYNH THI HOANG NGA',N'HUYNHTHIHOANGNGA','karaoke4t',N'HUYNHTHIHOANGNGA@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK040',N'NGUYEN HOANG HIEN',N'NGUYENHOANGHIEN','karaoke4t',N'NGUYENHOANGHIEN@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK041',N'TRA THI TUYET THU',N'TRATHITUYETTHU','karaoke4t',N'TRATHITUYETTHU@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK042',N'PHIM THI VIET',N'PHIMTHIVIET','karaoke4t',N'PHIMTHIVIET@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK043',N'TRINH MINH TUAN',N'TRINHMINHTUAN','karaoke4t',N'TRINHMINHTUAN@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK044',N'TRINH VAN ÐONG',N'TRINHVANÐONG','karaoke4t',N'TRINHVANÐONG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK045',N'LUONG THANH PHUC',N'LUONGTHANHPHUC','karaoke4t',N'LUONGTHANHPHUC@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK046',N'NGUYEN NGOC ÐING',N'NGUYENNGOCÐING','karaoke4t',N'NGUYENNGOCÐING@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK047',N'HUYNH VAN NGA',N'HUYNHVANNGA','karaoke4t',N'HUYNHVANNGA@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK048',N'TRINHH HIEN ÐANG',N'TRINHHHIENÐANG','karaoke4t',N'TRINHHHIENÐANG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK049',N'NGUYEN THIMI PHUYNG',N'NGUYENTHIMIPHUYNG','karaoke4t',N'NGUYENTHIMIPHUYNG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK050',N'LETHANH PHOANG',N'LETHANHPHOANG','karaoke4t',N'LETHANHPHOANG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK051',N'TRINH VAN THING',N'TRINHVANTHING','karaoke4t',N'TRINHVANTHING@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK052',N'NGUYEN ÐINH PHONG',N'NGUYENÐINHPHONG','karaoke4t',N'NGUYENÐINHPHONG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK053',N'NGUYEN THI PHUONG DUNG',N'NGUYENTHIPHUONGDUNG','karaoke4t',N'NGUYENTHIPHUONGDUNG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK054',N'DUONG THI THUY TRANG',N'DUONGTHITHUYTRANG','karaoke4t',N'DUONGTHITHUYTRANG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK055',N'DI THU HUONG',N'DITHUHUONG','karaoke4t',N'DITHUHUONG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK056',N'NGUYEN THANH QUYIN',N'NGUYENTHANHQUYIN','karaoke4t',N'NGUYENTHANHQUYIN@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK057',N'TRINHTHANHHIEN',N'TRINHTHANHHIEN','karaoke4t',N'TRINHTHANHHIEN@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK058',N'UNG THANHC ONG',N'HUNGTHANHCONG','karaoke4t',N'HUNGTHANHCONG@gmail.com')
INSERT[dbo].[TaiKhoan]([maTK],[tenNV],[tenTK],[MK],[email] )VALUES(N'TK059',N'TRINH QUOC TUAN',N'TRINHQUOCTUAN','karaoke4t',N'TRINHQUOCTUAN@gmail.com')






SELECT * FROM [dbo].[NhanVien]
INSERT [dbo].[NhanVien] ([maNV], [gioiTinh], [tenNV], [ngaySinh], [CMND], [SDT], [trangThaiLamViec],[maLNV], [maTK],[diaChi] ) VALUES (N'NVAA0001', N'Nam', N'Admin', N'2001-01-01 00:00:00.0000000', N'999999999', N'9999999999',N'Đang làm',N'LNV002','TK001',N'Phường Hòa An,Quận Cẩm Lệ,Thành phố Đà Nẵng' )
INSERT [dbo].[NhanVien] ([maNV], [gioiTinh], [tenNV], [ngaySinh], [CMND], [SDT], [trangThaiLamViec],[maLNV], [maTK],[diaChi] ) VALUES (N'NVAA0002', N'Nam', N'Truong Dai Loc', N'2001-01-01 00:00:00.0000000', N'856378092', N'0945601318',N'Đang làm',N'LNV002','TK002',N'Phường Hòa An,Quận Cẩm Lệ,Thành phố Đà Nẵng' )
INSERT [dbo].[NhanVien] ([maNV], [gioiTinh], [tenNV], [ngaySinh], [CMND], [SDT], [trangThaiLamViec],[maLNV], [maTK],[diaChi] ) VALUES (N'NVAA0003', N'Nam', N'Mai Ho Thien Thach', N'2001-01-01 00:00:00.0000000', N'745715032', N'0945601319',N'Đang làm',N'LNV002','TK003',N'Phường Hòa An,Quận Cẩm Lệ,Thành phố Đà Nẵng' )






SELECT * FROM [dbo].[TrangThaiPhong]
INSERT [dbo].[TrangThaiPhong] ([maTTP], [tenTrangThaiPhong]) VALUES (N'TTP001', N'Phòng bận')
INSERT [dbo].[TrangThaiPhong] ([maTTP], [tenTrangThaiPhong]) VALUES (N'TTP002', N'Phòng chờ')
INSERT [dbo].[TrangThaiPhong] ([maTTP], [tenTrangThaiPhong]) VALUES (N'TTP003', N'Phòng trống')

SELECT * FROM [dbo].[LoaiPhong]
INSERT [dbo].[LoaiPhong] ([maLP], [giaTien], [tenLoaiPhong]) VALUES (N'LP001', 100000, N'Phòng Thường')
INSERT [dbo].[LoaiPhong] ([maLP], [giaTien], [tenLoaiPhong]) VALUES (N'LP002', 180000, N'Phòng Vip')


SELECT * FROM [dbo].[Phong]

INSERT [dbo].[Phong] ([maPhong], [soNguoi], [tenPhong], [tinhTrangPhong], [maLP], [maTTP]) VALUES (N'P001', 10, N'P01',N'Bình thường', N'LP001', N'TTP003')
INSERT [dbo].[Phong] ([maPhong], [soNguoi], [tenPhong], [tinhTrangPhong], [maLP], [maTTP]) VALUES (N'P002', 12, N'P02',N'Bình thường', N'LP001', N'TTP001')
INSERT [dbo].[Phong] ([maPhong], [soNguoi], [tenPhong], [tinhTrangPhong], [maLP], [maTTP]) VALUES (N'P003', 5, N'P03',N'Bình thường', N'LP001', N'TTP001')


SELECT * FROM [dbo].[DichVu]
INSERT [dbo].[DichVu] ([maDV],[donGia],[soLuong],[tenDichVu]) VALUES ('DV001',15000,500,N'Bia SaiGon')
INSERT [dbo].[DichVu] ([maDV],[donGia],[soLuong],[tenDichVu]) VALUES ('DV002',18000,500,N'Bia Tiger')
INSERT [dbo].[DichVu] ([maDV],[donGia],[soLuong],[tenDichVu]) VALUES ('DV003',18000,500,N'Bia Ruby')


SELECT * FROM [dbo].[HoaDon]

INSERT [dbo].[HoaDon] ([maHD], [gioKetThuc], [gioNhanPhong], [ngayLap], [tienKhachTra],[tongTien] ,[maKH],[maNV]) VALUES (N'HDAA001',CAST(N'2021-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2021-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2021-01-01T00:00:00.0000000' AS DateTime2), 20000, 20000,  N'KHAA001',  N'NVAA0003')
INSERT [dbo].[HoaDon] ([maHD], [gioKetThuc], [gioNhanPhong], [ngayLap], [tienKhachTra],[tongTien] ,[maKH],[maNV]) VALUES (N'HDAA004',CAST(N'2021-11-19T11:29:24.5110000' AS DateTime2), CAST(N'2021-11-19T11:29:24.5110000' AS DateTime2), CAST(N'2021-11-19T11:29:24.5110000' AS DateTime2), 20000, 20000,  N'KHAA001',  N'NVAA0003')
INSERT [dbo].[HoaDon] ([maHD], [gioKetThuc], [gioNhanPhong], [ngayLap], [tienKhachTra],[tongTien] ,[maKH],[maNV]) VALUES (N'HDAA005',CAST(N'2021-11-20T10:26:22.5340000' AS DateTime2), CAST(N'2021-11-20T10:26:22.5340000' AS DateTime2), CAST(N'2021-11-20T10:26:22.5340000' AS DateTime2), 20000, 20000,  N'KHAA001',  N'NVAA0003')


SELECT * FROM [dbo].[ChiTietHoaDon]

INSERT [dbo].[ChiTietHoaDon] ([maHD], [maPhong], [thoiLuong]) VALUES (N'HDAA004', N'P002', 0)
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maPhong], [thoiLuong]) VALUES (N'HDAA005', N'P001', 0)
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maPhong], [thoiLuong]) VALUES (N'HDAA007', N'P005', 0)





SELECT * FROM [dbo].[ChiTietDichVu]
INSERT [dbo].[ChiTietDichVu] ([maDV], [maHD], [soLuong]) VALUES (N'DV005', N'HDAA030', 10)
INSERT [dbo].[ChiTietDichVu] ([maDV], [maHD], [soLuong]) VALUES (N'DV004', N'HDAA030', 10)
INSERT [dbo].[ChiTietDichVu] ([maDV], [maHD], [soLuong]) VALUES (N'DV003', N'HDAA030', 10)

SELECT * FROM [dbo].[PhieuDatPhong]

INSERT [dbo].[PhieuDatPhong] ([maPDP], [thoiGianDangKyDatPhong], [thoiGianNhanPhong], [tinhTrangPhong], [maKH], [maNV], [maPhong]) VALUES (N'PDPAA003', CAST(N'2021-11-25T15:07:06.4210000' AS DateTime2), CAST(N'2021-11-25T15:07:06.3470000' AS DateTime2),N'Bình thường', N'KHAA103', N'NVAA0001', N'P001')
INSERT [dbo].[PhieuDatPhong] ([maPDP], [thoiGianDangKyDatPhong], [thoiGianNhanPhong], [tinhTrangPhong], [maKH], [maNV], [maPhong]) VALUES (N'PDPAA001', CAST(N'2021-11-25T14:57:10.0180000' AS DateTime2), CAST(N'2021-11-25T14:57:09.9390000' AS DateTime2),N'Bình thường', N'KHAA103', N'NVAA0001', N'P003')
INSERT [dbo].[PhieuDatPhong] ([maPDP], [thoiGianDangKyDatPhong], [thoiGianNhanPhong], [tinhTrangPhong], [maKH], [maNV], [maPhong]) VALUES (N'PDPAA002', CAST(N'2021-11-25T15:05:57.0480000' AS DateTime2), CAST(N'2021-11-25T15:05:56.9800000' AS DateTime2),N'Bình thường', N'KHAA103', N'NVAA0001', N'P005')

